<html><head>
<title>西北工业大学</title><meta name="pageType" content="1">
<meta name="pageTitle" content="西北工业大学">
<META Name="keywords" Content="西北工业大学" />
<meta name="pageType" content="1">
<meta name="pageTitle" content="西北工业大学">
<meta name="pageType" content="1">
<meta name="pageTitle" content="西北工业大学">

<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta content="IE=9" ?http-equiv="X-UA-Compatible">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="css/style.css" rel="stylesheet">
<link href="css/aos.css" rel="stylesheet">
<link href="css/chuwang.net.css" rel="stylesheet">
<link href="nwpu.ico" rel="icon" type="image/x-ico">
<style>
.banner{padding-top:0;}
</style>
<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232306975475152555742000200014156 -->
<link rel="stylesheet" type="text/css" href="index.vsb.css" />
<script type="text/javascript" src="/system/resource/js/vsbscreen.min.js" id="_vsbscreen" devices="pc|pad"></script>
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1002,'/index.jsp',-1,1328288089)</script>
</head>
<body id="body" style="background-color: rgb(251, 251, 251);">
<style type="text/css">
#browser-modal{width:100%;height:100%;top:0;left:0;text-align:center;color:#303233;position:fixed;z-index:9999999999999999;display: none;}
#browser-modal .browser-modal-cover{position:fixed;left:0;top:0;height:100%;width:100%;background-color:#111;opacity:.9;z-index:-1;}
#browser-modal .browser-content{width:700px;margin-top:120px;margin-left:auto;margin-right:auto;padding-bottom:80px;padding-top:30px;background-color:#fff;border-radius:5px;}
#browser-modal .browser-content .browser-dpc-logo img{height:62px;margin:45px auto 30px;}
#browser-modal .browser-content .browser-text-title{text-transform:uppercase;font-size:24px;}
#browser-modal .browser-content .browser-text-desc{margin-top:30px;margin-bottom:40px;font-size:14px;}
#browser-modal .browser-content .browser-list{width:600px;margin:40px auto;height:130px;}
#browser-modal .browser-content .browser-item{float:left;width:150px;padding-top:20px;padding-bottom:20px;margin-left:auto;margin-right:auto;}
#browser-modal .browser-content .browser-item .iconfont{width:100px;height:100px;margin:0 auto;font-size:80px;line-height:80px;margin-bottom:30px;}
#browser-modal .browser-content .browser-item a{color:#921041;cursor:pointer;display:block;}
#browser-modal .browser-content .browser-item a img{display:block;margin:0 auto;max-width:100px;width:100px;height:100px;}
#browser-modal .browser-content .browser-item a h4{text-align:center;margin-top:20px;font-size:18px;font-weight:700;}
.fixedok .banner {opacity:0;}

#browser-modal .browser-content .browser-item .iconchrome{background:url(images/bro.png) no-repeat 0 0;}
#browser-modal .browser-content .browser-item .iconfirefox{background:url(images/bro.png) no-repeat 0 -100px;}
#browser-modal .browser-content .browser-item .iconopera{background:url(images/bro.png) no-repeat 0 -200px;}
#browser-modal .browser-content .browser-item .iconEdge{background:url(images/bro.png) no-repeat 0 -300px;}


</style>

<div id="browser-modal">
    <div class="browser-modal-cover">
    </div>
    <div class="browser-content">
        <div class="browser-text">
            
            <h3 class="browser-text-title">网站页面已加载完成</h3>
            <p class="browser-text-desc">
        由于您当前的浏览器版本过低，存在安全隐患。建议您尽快更新，以便获取更好的体验。推荐使用最新版Chrome、Firefox、Opera、Edge
            </p>
        </div>
        <div class="browser-list">
            <div class="browser-item">
                <div class="iconfont iconchrome">
                </div>
                <h4>Chrome</h4>
                
            </div>
            <div class="browser-item">            
                <div class="iconfont iconfirefox">
                </div>
                <h4>Firefox</h4>
                
            </div>
            <div class="browser-item">             
                <div class="iconfont iconopera">
                </div>
                <h4>Opera</h4>
                
            </div>
            <div class="browser-item">              
                <div class="iconfont iconEdge">
                </div>
                <h4>Edge</h4>
                
            </div>
        </div>
    </div>
    <script>
        if(navigator.appName == "Microsoft Internet Explorer"&&parseInt(navigator.appVersion.split(";")[1].replace(/[ ]/g, "").replace("MSIE","")) < 10){
            document.getElementById('browser-modal').style.display='block';
            console.log("您的浏览器版本过低，请使用IE10以上版本");
    }
    </script>
</div>
<div class="contaienr">
<div class="fixwrap fixwrap1">
<div class="top">
<div class="top-con">
<div class="top-con-right">
<div class="top-con-right1"><script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script><a href="fktd/xs.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11472)">学生</a>
<a href="fktd/jg.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11473)">教工</a>
<a href="http://xyh.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11474)">校友</a>
<a href="fktd/fk.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11475)">访客</a>
</div>
<div class="top-con-right2">
<h3>常用链接</h3>
<div class="links"><a href="https://uis.nwpu.edu.cn/cas/login?service=https%3A%2F%2Fecampus.nwpu.edu.cn%2Fc%2Fportal%2Flogin%3Fredirect%3D%252Fc" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11490)">翱翔门户</a>
<a href="https://oa.nwpu.edu.cn" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11491)">翱翔办公</a>
<a href="http://mail.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11492)">电子邮件</a>
</div></div>
<div class="top-con-right3"><img alt="" src="images/yx.png"> <a href="sjxx.htm" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11477)">书记</a>&nbsp;|
   
<a href="xzxx.htm" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11478)">校长</a>
   
</div>
<div class="top-con-right4">

    <a href="http://en.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11476)">ENG</a>
    
    
    
</div>
<div class="top-con-right5">
<div class="search">
<div>


<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/js/jquery/jquery-latest.min.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><style>
    #appu4 .qwss{
        height: 31px;
        font-size: 12px;
        min-width: 190px;
        max-width: 600px;
        width: 60%;
        margin-top: -15px;
        outline: none;
        padding-left: 10px;
        border-radius: 2px;
        border: 1px solid #e4e7ed;}
    #appu4 .tj{
        padding-left: 6px;
        letter-spacing: 5px;
        color: white;
        min-width: 53px;
        max-width: 150px;
        height: 32px;
        border: 0;
        border-radius: 2px;
        background-color: #1890FF;
        position: relative;
        top: 1px;
        width: 20%;
        margin-top: -15px;}
</style>
<div id="divu4"></div>
<script type="text/html" id="htmlu4">
    <div id="appu4">
        <div v-if="!isError">
           <input type="text" class=" test"  placeholder="请输入关键字" autocomplete=off  v-model=query.keyWord @keyup.enter="onSubmit" >
      
            
            
            
          
         
            
            
            
            
            
            
        
            <input id="btn"  name="submit_button" type="button" lass="tj" v-on:click="onSubmit()" src="/system/_owners/indextest/_webprj/images/sou.png" value="" >
            
            
            
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu4").html($("#htmlu4").text());
</script>
<script>
    var appOwner = "1328288089";
    var token =gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend:function(request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu4",
        data: function() {
            return {
                query:{
                    keyWord:"",//搜索关键词
                    owner:appOwner,
                    token:token,
                    urlPrefix:urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function() {
            var _this = this;
            // _this.init();
        },
        methods:{
            init:function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type:"get",
                    success: function(response){
                        if(response.code=="0000"){
                        }else if(response.code =="220"){
                            _this.isError = true;
                            console.log(response);
                        }else if(!response.code){
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function(response){
                        _this.isError = true;
                    }
                });
            },
            onSubmit:function(e){
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "https://yykfpt.nwpu.edu.cn/" + url;
                }
                var _this = this;
                var query = _this.query;
                if(url.indexOf("?")>-1){
                    url =url.split("?")[0];
                }
                if(query.keyWord){
                    var query=new Base64().encode(JSON.stringify(query));
                    window.open(url+"?query="+query);
                }else{alert("请填写搜索内容")}
            },

        }
    })
</script></div></div><img id="sou" alt="" src="images/sou.png"> </div></div></div></div>
<div class="header header1">
<div class="header-con">
<div class="logo1">    <a href="index.htm"><img src="images/logo2.png" alt=""></a>
</div>
<div class="nav">
<div class="box">
<ul>     <li class="li-one"><a href="xxgk.htm" target="">学校概况</a>
          <ul>

<li><a href="xxgk/xxjj.htm" class="sech" target="">学校简介</a></li>

<li><a href="xxgk/xxls.htm" class="sech" target="">学校历史</a></li>

<li><a href="xxgk/ld.htm" class="sech" target="">现任领导</a></li>

<li><a href="xxgk/oleader.htm" class="sech" target="">历任领导</a></li>
     </ul>
  </li>     <li class="li-one"><a href="jgsz_cd_/dzjg/dqbm.htm" target="">组织机构</a>
          <ul>

<li><a href="jgsz_cd_/dzjg/dqbm.htm" class="sech" target="">党政机关</a></li>

<li><a href="jgsz_cd_/jxkyjg/xy_xb.htm" class="sech" target="">教学科研机构</a></li>

<li><a href="jgsz_cd_/zhichenghe/zcdw.htm" class="sech" target="">支撑和服务保障机构</a></li>

<li><a href="jgsz_cd_/kypt.htm" class="sech" target="">科研平台</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">人才培养</a>
          <ul>

<li><a href="http://jiaowu.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生教育</a></li>

<li><a href="http://gs.nwpu.edu.cn/" class="sech" target="target=" _blank"">研究生教育</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">继续教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育</a></li>

<li><a href="http://guoji.nwpu.edu.cn/axshx/sy.htm" class="sech" target="target=" _blank"">出国（境）交流</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/new/szdw/szgk.htm" target="">师资队伍</a>
          <ul>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/lyys.htm" class="sech" target="target=" _blank"">两院院士</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/jcrc.htm" class="sech" target="target=" _blank"">杰出人才</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/qnrc.htm" class="sech" target="target=" _blank"">青年人才</a></li>

<li><a href="http://renshi.nwpu.edu.cn/rencai/tequ.htm" class="sech" target="">人才特区</a></li>

<li><a href="https://teacher.nwpu.edu.cn/" class="sech" target="target=" _blank"">教师主页</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">科学研究</a>
          <ul>

<li><a href="http://kypt.nwpu.edu.cn/" class="sech" target="target=" _blank"">科研平台</a></li>

<li><a href="https://equip.nwpu.edu.cn/" class="sech" target="target=" _blank"">设备共享</a></li>

<li><a href="http://%78%79%67%67.nwpu.edu.cn/xygg/xsdt.htm" class="sech" target="target=" _blank"">学术活动</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="target=" _blank"">合作交流</a>
          <ul>

<li><a href="https://dangzheng.nwpu.edu.cn" class="sech" target="target=" _blank"">战略合作</a></li>

<li><a href="http://guoji.nwpu.edu.cn/" class="sech" target="target=" _blank"">海外合作</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">招生就业</a>
          <ul>

<li><a href="http://zsb.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生招生</a></li>

<li><a href="http://yzb.nwpu.edu.cn/" class="sech" target="target=" _blank"">研究生招生</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生招生</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">继续教育招生</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育招生</a></li>

<li><a href="http://job.nwpu.edu.cn/home.do" class="sech" target="target=" _blank"">就业信息网</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/rczp/index.htm" target="">人才招聘</a>

  </li></ul></div></div></div></div></div>

<div class="fixwrap fixwrap2">
<div class="header2">
<div class="header-con">
<div class="logo1">    <a href="index.htm"><img src="images/logo_xl.png" alt="" style="height:45px;"></a>
</div>
<div class="nav">
<div class="box">
<ul>     <li class="li-one"><a href="xxgk.htm" target="">学校概况</a>
          <ul>

<li><a href="xxgk/xxjj.htm" class="sech" target="">学校简介</a></li>

<li><a href="xxgk/xxls.htm" class="sech" target="">学校历史</a></li>

<li><a href="xxgk/ld.htm" class="sech" target="">现任领导</a></li>

<li><a href="xxgk/oleader.htm" class="sech" target="">历任领导</a></li>
     </ul>
  </li>     <li class="li-one"><a href="jgsz_cd_/dzjg/dqbm.htm" target="">组织机构</a>
          <ul>

<li><a href="jgsz_cd_/dzjg/dqbm.htm" class="sech" target="">党政机关</a></li>

<li><a href="jgsz_cd_/jxkyjg/xy_xb.htm" class="sech" target="">教学科研机构</a></li>

<li><a href="jgsz_cd_/zhichenghe/zcdw.htm" class="sech" target="">支撑和服务保障机构</a></li>

<li><a href="jgsz_cd_/kypt.htm" class="sech" target="">科研平台</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">人才培养</a>
          <ul>

<li><a href="http://jiaowu.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生教育</a></li>

<li><a href="http://gs.nwpu.edu.cn/" class="sech" target="target=" _blank"">研究生教育</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">继续教育</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育</a></li>

<li><a href="http://guoji.nwpu.edu.cn/axshx/sy.htm" class="sech" target="target=" _blank"">出国（境）交流</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/new/szdw/szgk.htm" target="">师资队伍</a>
          <ul>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/lyys.htm" class="sech" target="target=" _blank"">两院院士</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/jcrc.htm" class="sech" target="target=" _blank"">杰出人才</a></li>

<li><a href="http://renshi.nwpu.edu.cn/new/szdw/qnrc.htm" class="sech" target="target=" _blank"">青年人才</a></li>

<li><a href="http://renshi.nwpu.edu.cn/rencai/tequ.htm" class="sech" target="">人才特区</a></li>

<li><a href="https://teacher.nwpu.edu.cn/" class="sech" target="target=" _blank"">教师主页</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">科学研究</a>
          <ul>

<li><a href="http://kypt.nwpu.edu.cn/" class="sech" target="target=" _blank"">科研平台</a></li>

<li><a href="https://equip.nwpu.edu.cn/" class="sech" target="target=" _blank"">设备共享</a></li>

<li><a href="http://xygg.nwpu.edu.cn/xygg/xsdt.htm" class="sech" target="target=" _blank"">学术活动</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="target=" _blank"">合作交流</a>
          <ul>

<li><a href="https://dangzheng.%6e%77%70%75.edu.cn" class="sech" target="target=" _blank"">战略合作</a></li>

<li><a href="http://guoji.nwpu.edu.cn/" class="sech" target="target=" _blank"">海外合作</a></li>
     </ul>
  </li>     <li class="li-one"><a href="#" target="">招生就业</a>
          <ul>

<li><a href="http://zsb.nwpu.edu.cn/" class="sech" target="target=" _blank"">本科生招生</a></li>

<li><a href="http://yzb.%6e%77%70%75.edu.cn/" class="sech" target="target=" _blank"">研究生招生</a></li>

<li><a href="http://npuinternationalcollege.nwpu.edu.cn/" class="sech" target="target=" _blank"">留学生招生</a></li>

<li><a href="http://www.nwpunec.%6e%65%74/" class="sech" target="target=" _blank"">继续教育招生</a></li>

<li><a href="http://www.nwpunec.net/" class="sech" target="target=" _blank"">网络教育招生</a></li>

<li><a href="http://job.nwpu.edu.cn/home.do" class="sech" target="target=" _blank"">就业信息网</a></li>
     </ul>
  </li>     <li class="li-one"><a href="http://renshi.nwpu.edu.cn/rczp/index.htm" target="">人才招聘</a>

  </li></ul>
</div></div>
</div>
</div>
</div>
<script>
    /*导航滑动特效*/
    $(document).scroll(function () {
        var top = $(document).scrollTop();
        if (top > 566) {
            $(".fixwrap2").show();
        }else{
            $(".fixwrap2").hide();
        }
    });
</script>




<div class="banner" style="max-height: 910px;">
<div class="callbacks_container">
<ul class="rslides" id="slider" style="z-index: 1;">    
<li><img src="images/xj.png" />
</li>





<li><img src="images/myjs.jpg" />
</li>






<li><a href="https://www.nwpu.edu.cn/info/1198/84448.htm" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 81601)"><img src="images/weibingboyuanshi.png" /></a></li>







<li><a href="https://www.nwpu.edu.cn/info/1198/84558.htm" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 81610)"><img src="images/sbwzs2.png" /></a></li>







<li><a href="https://www.nwpu.edu.cn/info/1198/83688.htm" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 81538)"><img src="images/wulixy.png" /></a></li>





</ul></div></div>
<div class="main">
<div class="main-box1">
<div class="main-box1-con">
<div class="main-box1-con-top">
<div class="dsfsfsgg">
<span class="top-left" target=""><a class="leftmove" href="xwtz/gdyw.htm" target="_blank">工大要闻</a> </span><a href="xwtz/gdyw.htm" target="_blank" style="color: rgb(34, 103, 177); font-size: 14px; font-weight: bold; margin-top: 26px; margin-right: 584px; float: right;">更多&gt;</a></div></div>
<div class="youbianhd">
<span class="zhonghexinwen"><a class="leftmove" href="#" style="color: rgb(34, 103, 177); float:color: #2267b1;font-size: 24px;float: right;margin:0px 0px 0px 45px;width:200px;">综合新闻</a></span><span class="hasjdkad"><a href="xwtz/zhxw.htm" target="_blank" style="color: rgb(34, 103, 177); font-size: 14px; font-weight: bold; margin-top: -30px; margin-left: 1030px; float: left;">更多&gt;</a></span>
<div class="top-right" style="margin-top: -33px;"><a id="xw" href="http://news.nwpu.edu.cn/index.htm" target="_blank">新闻网</a><a href=""><img alt="" src="images/jian.png" style="margin: 4px 0px 0px 6px;"></a> </div></div>
<div class="main-box1-con-bottom">
<div class="main-box1-con-bottom-left" style="width:630px !important;margin-top:26px;">
<ul><script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><ul>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="http://www.news.cn/politics/leaders/20240511/b174a400101947d09cafc09aba2a9e9c/c.html" title="习近平总书记对学校思政课建设作出重要指示" target="_blank"><img src="/__local/3/97/61/CE02F2FA4DB59EDFDB933787ED8_E963ABD2_AE90D.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="http://www.news.cn/politics/leaders/20240511/b174a400101947d09cafc09aba2a9e9c/c.html" title="习近平总书记对学校思政课建设作出重要指示" target="_blank">习近平总书记对学校思政课建设作出重要指示</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="info/1208/84948.htm" title="学校召开学习贯彻习近平总书记五四青年节对全国广大青年寄语精神座谈会" target="_blank"><img src="/__local/4/29/C3/5ADD350B73670BD16C7D6FC3CF5_72F11B4B_C777FA.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="info/1208/84948.htm" title="学校召开学习贯彻习近平总书记五四青年节对全国广大青年寄语精神座谈会" target="_blank">学校召开学习贯彻习近平总书记五四青年节对全国广大青年寄语精神座谈会</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="info/1208/84768.htm" title="中共西北工业大学第十三届委员会第八次全体会议举行" target="_blank"><img src="/__local/E/9C/13/B0D528CE7F077DE4F3E2DD141E6_96801886_A969A2.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="info/1208/84768.htm" title="中共西北工业大学第十三届委员会第八次全体会议举行" target="_blank">中共西北工业大学第十三届委员会第八次全体会议举行</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>

       <li style="width:300px !important;">                                <div class="li-top" style="width:300px !important;">
                                    <a href="info/1208/84548.htm" title="工信部部属高校“十五五”规划预研暨培育发展新质生产力工作座谈会在我校召开" target="_blank"><img src="/__local/4/B7/C7/F7AA5A6CCD8870E5F2651765326_140375E8_78E9A9.jpg" alt="" style="width:300px !important;"></a>
                                </div>
                                <div class="li-bottom" style="background-image:url(images/yaowen23.png); position:relative;height:60px;width:300px;">
                                    <p style="padding:7px !important;margin-left:12px !important;"><a href="info/1208/84548.htm" title="工信部部属高校“十五五”规划预研暨培育发展新质生产力工作座谈会在我校召开" target="_blank">工信部部属高校“十五五”规划预研暨培育发展新质生产力工作座谈会在我校召开</a></p>
                                    <span class="time"></span>
                                </div>

                                                       </li>
</ul>
<script>_showDynClickBatch(['dynclicks_u10_85288','dynclicks_u10_84948','dynclicks_u10_84768','dynclicks_u10_84548'],[85288,84948,84768,84548],"wbnews", 1328288089)</script>
</ul></div>
<div class="main-box1-con-bottom-right" style="width:550px !important;margin-top:18px;">
<ul><li style="width:550px !important;display:flex;"><a href="info/1198/85278.htm" target="_blank" title="我校师生热议习近平总书记对学校思政课建设作出的重要指示" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">我校师生热议习近平总书记对学校思政课建设作出的重要指示</a><span style="width:55px;font-size:16px;">05-12</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/85298.htm" target="_blank" title="我校与航天工程大学签署战略合作协议" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">我校与航天工程大学签署战略合作协议</a><span style="width:55px;font-size:16px;">05-12</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/85008.htm" target="_blank" title="学校召开创新创业教育工作领导小组会议" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">学校召开创新创业教育工作领导小组会议</a><span style="width:55px;font-size:16px;">05-09</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/85108.htm" target="_blank" title="四川省委常委、绵阳市委书记曹立军一行来校调研" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">四川省委常委、绵阳市委书记曹立军一行来校调研</a><span style="width:55px;font-size:16px;">05-09</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/84698.htm" target="_blank" title="李奕辰和李波同学登上《人民日报》国家奖学金获奖学生代表名录" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">李奕辰和李波同学登上《人民日报》国家奖学金获奖学生代表名录</a><span style="width:55px;font-size:16px;">05-05</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/85218.htm" target="_blank" title="央视报道我校军地青年典型走基层交流活动" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">央视报道我校军地青年典型走基层交流活动</a><span style="width:55px;font-size:16px;">05-12</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/85098.htm" target="_blank" title="我校化学学科首次进入ESI全球前1‰，社会科学总论学科首次进入ESI全球前1%" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">我校化学学科首次进入ESI全球前1‰，社会科学总论学科首次进入E...</a><span style="width:55px;font-size:16px;">05-09</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/85208.htm" target="_blank" title="小小探索家 大大科学梦——西工大幼儿园开展“走进三航”科技研学系列活动" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">小小探索家 大大科学梦——西工大幼儿园开展“走进三航”科技研...</a><span style="width:55px;font-size:16px;">05-11</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/84988.htm" target="_blank" title="李天舒、徐浩洋、池久涛同学在国际大学生程序设计竞赛世界总决赛中再创佳绩" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">李天舒、徐浩洋、池久涛同学在国际大学生程序设计竞赛世界总决...</a><span style="width:55px;font-size:16px;">05-08</span></li>
<li style="width:550px !important;display:flex;"><a href="info/1198/84758.htm" target="_blank" title="学校2024年硕士研究生复试录取工作圆满完成" style=" width:550px !important;line-height:16px !important;height:16px !important;margin:13px auto;">学校2024年硕士研究生复试录取工作圆满完成</a><span style="width:55px;font-size:16px;">05-06</span></li>
<script>_showDynClickBatch(['dynclicks_u11_85278','dynclicks_u11_85298','dynclicks_u11_85008','dynclicks_u11_85108','dynclicks_u11_84698','dynclicks_u11_85218','dynclicks_u11_85098','dynclicks_u11_85208','dynclicks_u11_84988','dynclicks_u11_84758'],[85278,85298,85008,85108,84698,85218,85098,85208,84988,84758],"wbnews", 1328288089)</script>
</ul></div></div></div></div>
<div class="main-box2">
<div class="main-box2-con">
<div class="main-box2-con-xueshu">
<h3><a class="leftmove" href="xwtz/xsjl.htm" target="_blank">学术交流</a><a href="xwtz/xsjl.htm" target="" style="font-size: 14px; font-weight: bold; float: right;">更多&gt;</a></h3>
<ul><li><a href="http://xygg.nwpu.edu.cn/info/1003/29277.htm" target="_blank" title="【论坛预告】西北工业大学首届“智能空天”前沿论坛通知">【论坛预告】西北工业大学首届“智能空天”前沿论坛通知</a>
<span>05-09</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/29287.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告——范铭楷：在阿联酋大学进行复杂背景小目标检测研究">【学术报告】研究生出国（境）交流项目系列报告——范铭楷...</a>
<span>05-09</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/29317.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告——张旭：在新加坡国立大学开展物流项目风险应对决策研究">【学术报告】研究生出国（境）交流项目系列报告——张旭：...</a>
<span>05-08</span></li>
<li><a href="info/1039/85238.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告——王清正：在法国国立高等工艺学院探索新型激光选区熔化专用高强铝合金的组织性能">【学术报告】研究生出国（境）交流项目系列报告——王清正...</a>
<span>05-06</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/29307.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告——侯英杰：在南丹麦大学开展绿色企业生态标签选择策略研究">【学术报告】研究生出国（境）交流项目系列报告——侯英杰...</a>
<span>05-04</span></li>
<li><a href="http://xygg.nwpu.edu.cn/info/1007/29207.htm" target="_blank" title="【学术报告】研究生出国（境）交流项目系列报告——杨登峰：在新加坡国立大学研究多飞行器协同制导控制">【学术报告】研究生出国（境）交流项目系列报告——杨登峰...</a>
<span>04-26</span></li>
<script>_showDynClickBatch(['dynclicks_u12_85118','dynclicks_u12_85228','dynclicks_u12_85258','dynclicks_u12_85238','dynclicks_u12_85248','dynclicks_u12_84818'],[85118,85228,85258,85238,85248,84818],"wbnews", 1328288089)</script>
</ul></div>
<div class="main-box2-con-meiti">
<h3><a class="leftmove" href="xwtz/mtgd.htm" target="_blank" style="color: rgb(34, 103, 177);">媒体工大</a><a href="xwtz/mtgd.htm" target="" style="color: rgb(34, 103, 177); font-size: 14px; font-weight: bold; float: right;">更多&gt;</a></h3>
<ul><li><a href="https://app.cctv.com/special/m/livevod/index.html?guid=f0908608e96249e78ff6a20a710dbe5b&mid=19mA3uqu0731&vtype=2" target="_blank" title="[正午国防军事]雷达扫描站 西工大仿“萤火虫”通信无人机研究取得进展">[正午国防军事]雷达扫描站 西工大仿“萤火虫”通信无人机研...</a><span>05-13</span></li>
<li><a href="https://app.kjrb.com.cn/app/template/displayTemplate/news/newsDetail/42505.html?isDigital=true&isShare=true" target="_blank" title="[科技日报]“灯光秀”中展绝技">[科技日报]“灯光秀”中展绝技</a><span>05-13</span></li>
<li><a href="https://mp.weixin.qq.com/s/PPXlu0-xgHZBtxDXkxbF-A" target="_blank" title="[光明日报]西北工业大学仿“萤火虫”通信无人机取得新突破">[光明日报]西北工业大学仿“萤火虫”通信无人机取得新突破</a><span>05-11</span></li>
<li><a href="https://s.cyol.com/shuzibao/cmsfile/cms_json/zqzx/Newspaper/2/2024-05-09/Content/nw.D110000zgqnb_20240509_8-01.html?isshow=1" target="_blank" title="[中国青年报]西北工业大学“青春为中国式现代化挺膺担当”主题团日活动">[中国青年报]西北工业大学“青春为中国式现代化挺膺担当”...</a><span>05-10</span></li>
<li><a href="https://app.cctv.com/special/m/livevod/index.html?vtype=2&guid=54d05f4a4070492f9c475b3370d8bda3&vsetId=C10334" target="_blank" title="[央视军事报道]挺膺担当奋进强军新征程 青春之声激荡校园 使命之光点亮心灵">[央视军事报道]挺膺担当奋进强军新征程 青春之声激荡校园 ...</a><span>05-10</span></li>
<li><a href="https://s.cyol.com/shuzibao/cmsfile/cms_json/zqzx/Newspaper/2/2024-05-09/Content/nw.D110000zgqnb_20240509_5-01.html?isshow=1" target="_blank" title="[中国青年报]争做有理想、敢担当、能吃苦、肯奋斗的新时代好青年 ——全国“青马工程”学员热议习近平总书记五四重要寄语精神">[中国青年报]争做有理想、敢担当、能吃苦、肯奋斗的新时代...</a><span>05-09</span></li>
<script>_showDynClickBatch(['dynclicks_u13_85318','dynclicks_u13_85308','dynclicks_u13_85168','dynclicks_u13_85158','dynclicks_u13_85148','dynclicks_u13_85018'],[85318,85308,85168,85158,85148,85018],"wbnews", 1328288089)</script>
</ul></div></div></div>
<div class="main-box3">
<div class="main-box3-con">
<ul>
<li id="li1" aos="fade-down-right">
<div class="li-one"><a href="#"><img alt="" src="images/foot33.png"></a> </div>
<div class="li-box">
<h3>数字校园</h3>
<div class="linkt">  <SPAN><A href="https://uis.nwpu.edu.cn/cas/login?service=https%3A%2F%2Fecampus.nwpu.edu.cn%2Fc%2Fportal%2Flogin" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11501)">翱翔门户</A></SPAN> 
  <SPAN><A href="https://oa.nwpu.edu.cn" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11502)">翱翔办公</A></SPAN> 
  <SPAN><A href="http://mail.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11503)">电子邮件</A></SPAN> 
  <SPAN><A href="http://xygg.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11504)">校园公告</A></SPAN> 
  <SPAN><A href="http://tushuguan.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11505)">图书文献</A></SPAN> 
</div></div></li>
<li id="li3" aos="fade-down">
<div class="li-one">     <a href="#" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 53940)"><img src="images/foot44.png" alt=""></a>
</div>
<div class="li-two" style="background: url(images/03.png);">
<h3><a class="shibie" target="_blank">校园服务</a> 
<div class="linkt" style="width: 265px;">   <SPAN style="display: block;width: 65px;text-align: center;"><A href="http://xxgk.nwpu.edu.cn/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11510)">信息公开</A></SPAN> 
    
 
   <SPAN style="display: block;width: 65px;text-align: center;"><A href="index/xydt.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11511)">校园地图</A></SPAN> 
    
 
   <SPAN style="display: block;width: 65px;text-align: center;"><A href="http://xygg.nwpu.edu.cn/info/1003/22073.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11512)">校历校车</A></SPAN> 
    
 
   <SPAN style="display: block;width: 65px;text-align: center;"><A href="http://atcrs.nwpu.edu.cn/lims/" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 40054)">预约平台</A></SPAN> 
    
 
  <SPAN style="display: block;text-align: center;"><A href="http://baoxiu.nwpu.edu.cn" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11590)">全校统一报修</A></SPAN> 
 
</div></h3></div></li>
<li id="li5" aos="fade-up"><a href="https://news.nwpu.edu.cn/index.htm" target="_blank"><img src="images/ershida-pic0307.png"></a></li>
<li id="li3" aos="fade-down-left">
    

<a href="https://z.nwpu.edu.cn/xxgcxjpxsdzgtsshzysx/" target="_blank" onclick="_addDynClicks(&#34;wbimage&#34;, 1328288089, 52812)"><img src="images/20230411ztjy.jpg" alt=""></a>
    <div class="ht" style="font-size:18px;font-weight:bold;margin-top:-10px;margin-left:-10px;"><a href="https://z.nwpu.edu.cn/xxgcxjpxsdzgtsshzysx/" target="_blank"></a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>




</li>
<li id="li4" aos="fade-up-right">
<div class="li-one">
<h3><a class="shibie">文化工大</a> 
<div class="linkt">  <SPAN style="width:100px;text-align:left;"><A href="http://news.nwpu.edu.cn/xcb/index/xxsbxt.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 11513)">形象识别系统</A></SPAN> 
  <SPAN style="width:100px;text-align:left;"><A href="https://www.jt720.cn/t/f4bf97cf4b047e05?s=scene_b68e32d2cec7bcf3" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 39914)">数字校史馆</A></SPAN> 
  <SPAN style="width:100px;text-align:left;"><A href="https://news.nwpu.%65%64%75.cn/index/jjxy.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 51695)">菁菁校园</A></SPAN> 
  <SPAN style="width:100px;text-align:left;"><A href="https://news.nwpu.%65%64%75.cn/info/1212/83049.htm" target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1328288089, 82735)">西工大宣传片</A></SPAN> 
</div></h3></div>
<div class="li-two">
<a href="https://xgdst.nwpu.edu.cn/" target="_blank"><img src="images/stgd-pic0307.png"></a>
</div></li>
<li id="li5" aos="fade-up" style="background: url(images/qqrmtjz-bg.png); position: relative;">
<img id="ewm-box" src="images/qqrmtjz-logo.png">
<div id="icon-box">
    <div class="rmtjz01">
    <img class="jz-icon" src="images/qqrmtjz-icon01.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm01.png"> 
    </div>
    <div class="rmtjz02">
    <img class="jz-icon" src="images/qqrmtjz-icon02.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm02.png"> 
    </div>
    <div class="rmtjz03">
    <img class="jz-icon" src="images/qqrmtjz-icon03.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm03.png"> 
    </div>
    <div class="rmtjz04">
    <img class="jz-icon" src="images/qqrmtjz-icon04.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm04.png"> 
    </div>
    <div class="rmtjz05">
    <img class="jz-icon" src="images/qqrmtjz-icon05.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm05.png">
    </div>
    <div class="rmtjz06">
    <img class="jz-icon" src="images/qqrmtjz-icon06.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm06.png"> 
    </div>
    <div class="rmtjz07">
    <img class="jz-icon" src="images/qqrmtjz-icon07.png">
    </div>
    <div class="rmtjz08">
    <img class="jz-icon" src="images/qqrmtjz-icon08.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm08.png"> 
    </div>
    <div class="rmtjz09">
    <img class="jz-icon" src="images/qqrmtjz-icon09.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm09.png"> 
    </div>
    <div class="rmtjz10">
    <img class="jz-icon" src="images/qqrmtjz-icon10.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm10.png"> 
    </div>
    <div class="rmtjz11">
    <img class="jz-icon" src="images/qqrmtjz-icon11.png">
    <img class="jz-ewm" src="images/qqrmtjz-ewm11.png"> 
    </div>
    <div class="rmtjz12">
    <img class="jz-icon" src="images/qqrmtjz-icon12.png">
    </div>
</div>
<style>
.jz-icon{width:48px;height:48px;cursor:pointer;}
.jz-ewm{display:none;}
#ewm-box{width:110px;height:110px;top:50%;left:50%;margin-left:-55px;margin-top:-39px;position:absolute;}
.rmtjz01{top:38px;left:141px;position:absolute;width:48px;height:48px;}
.rmtjz02{top:62px;left:192px;position:absolute;width:48px;height:48px;}
.rmtjz03{top:107px;left:224px;position:absolute;width:48px;height:48px;}
.rmtjz04{top:161px;left:229px;position:absolute;width:48px;height:48px;}
.rmtjz05{top:211px;left:204px;position:absolute;width:48px;height:48px;}
.rmtjz06{top:242px;left:159px;position:absolute;width:48px;height:48px;}
.rmtjz07{top:247px;left:105px;position:absolute;width:48px;height:48px;}
.rmtjz08{top:223px;left:56px;position:absolute;width:48px;height:48px;}
.rmtjz09{top:178px;left:25px;position:absolute;width:48px;height:48px;}
.rmtjz10{top:126px;left:20px;position:absolute;width:48px;height:48px;}
.rmtjz11{top:76px;left:42px;position:absolute;width:48px;height:48px;}
.rmtjz12{top:44px;left:86px;position:absolute;width:48px;height:48px;}
</style>

<script>
var iconBox = document.getElementById("icon-box").children;
var ewmBox = document.getElementById("ewm-box");
var ewmBoxs = document.getElementById("ewm-box").src;
for(var i = 0;i< iconBox.length;i++){
 iconBox[i].onmouseover = function(){
   var jzEwm = this.children[1];
   if(jzEwm!==""){ewmBox.src=jzEwm.src}else{ewmBox.src=ewmBoxs;};
 }
  iconBox[i].onmouseout = function(){
   ewmBox.src=ewmBoxs;
  }
}
</script>

</li>
<li aos="fade-down"><a href="http://z.nwpu.edu.cn/djsc/sy.htm"><img width="300" alt="" src="images/20220530222638.png"></a> </li>
<li aos="fade-up-left"><a href="https://pinggu.nwpu.edu.cn"><img width="300" alt="" src="images/bkjxpg.jpg"></a> </li></ul>
<div style="clear: both;"></div>
<div class="footer">
<div class="footer-con">
<div class="footer-con-left">    <a href="index.htm"><img src="images/logo6.png"></a>
</div>
<div class="footer-con-middle"><script language="javascript" src="/system/resource/js/news/mp4video.js"></script><table class="winstyle140458" width="100%">
    <tr>
        <td><p><font style="color: #ffffff;font-size: 10.5pt">友谊校区地址：西安市友谊西路127号&nbsp;&nbsp;&nbsp;&nbsp;邮编:710072</font></p> 
<p><font style="color: #ffffff;font-size: 10.5pt">长安校区地址：西安市长安区东祥路1号&nbsp; 邮编:710129</font></p></td>
    </tr>
</table></div>
<div class="footer-con-right"><p style="width: 300px; float: left; line-height: 24px">版权所有 © 西北工业大学<br /><a href="https://beian.miit.gov.cn" target="_blank">ICP备案号：陕ICP备05010979号&nbsp;</a>&nbsp;</p><div style="float: right"></div></div>
<div class="bqpic pic">    <a target="_blank" href="http://bszs.conac.cn/sitename?method=show&id=119A15AAE94A05CBE053012819AC00C3" target="_blank" style="position:relative;left:-23px;"><img src="images/blue.png"></a>
<div style="position:relative;top:-60px;left:-110px;"><img width="100" src="images/kexinewnzheng.png"></div>
<div style="position:relative;top:-108px;left:45px;"><a target="_blank" href="https://www.ipv6enabled.cn/index/certificate.html?logoid=100&&renz_result=0"><img width="50" src="images/ipv6.png"></a></div></div>
<div class="btn_wap">        <a id="wapbtn" href="javascript:void(0);" onclick="_vsb_multiscreen.setDevice('mobile')">手机版</a>
</div>
</div></div></div></div></div></div>

<script src="js/respond.min.js"></script>
<script src="js/bdtxk.js"></script>
<script src="js/placeholder.js"></script>
<script> 
<!-- 
window.onerror=function(){return true;} 
// --> 
</script>

<!-- css3动效 --><script src="js/aos.js"></script><script type="text/javascript">
    AOS.init({
        easing: 'ease-out-back',
        duration: 1000
    });
</script><script src="js/style.js"></script><script type="text/javascript" src="js/jquery.flexslider-min.js"></script><script type="text/javascript">
$(document).ready(function(){
    $('.flexslider').flexslider({
        directionnav: true,
        pauseonaction: false,
        pauseOnHover: true,
        slideshowSpeed: 7000
    });
});
</script><script type="text/javascript" src="js/responsiveslides.min.js"></script><script type="text/javascript">
    $(function () {
        // Slideshow 
        $("#slider").responsiveSlides({
            auto: true,
            pager: false,
            pause: true,
            pauseControls: true,
            nav: true,
            speed: 500,
            timeout:4000,
            pager: true, 
            pauseControls: true,
            namespace: "callbacks"
        });
    });
    
    $(function(){
        $("div.search input[name=showkeycode]").attr("placeholder","请输入搜索关键字");
    });

    </script><script>
        if (!$.support.leadingWhitespace) {
            $("#browser_ie").show();
           $("#dd").hide();
                   }
    </script>

  


</body></html>
